.inputWrapper {
    min-width: 470px;
    height: 42px;
    border: 2px solid var(--purple-default);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.input {
    min-width: 420px;
    height: 42px;
    outline: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;

    padding-left: 10px;
    border-radius: 10px;

}

.imageArea {
    margin-left: 5px;
}