.gameCollectionArea {
    display: flex;
    flex-direction: column;
}

.searchAreaWrapper {
    display: flex;
    justify-content: center;
}

.searchArea {
    margin-top: 52px;
    max-width: 470px;
    height: 80px;
}

.inputDescription {
    text-align: center;
    margin-bottom: 15px;
}

.sliderAreaWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameCardWrapper {
    display: flex;
    justify-content: center;
    margin-top: 57px;
}

.gameCollectionButton {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.findContainer {
    width: 252px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    width: 228px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17px;
    display: flex;
    align-items: center;
    color: var(--grey-dark);
    border: 2px solid var(--purple-default);
    height: 40px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}