.button {
    min-width: 5vw;
    height: 4vh;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.25em;

    border: none;
    border-radius: 9px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 11px 11px;

    cursor: pointer;
}

.text_default {
    white-space: nowrap;
}

.button_default {
    background-color: var(--purple-default);
    color: var(--white);
}

.button_default:hover {
    background-color: var(--purple-dark);
}

.button_secondary {
    background-color: var(--white);
    color: var(--grey-dark);
    border: 1px solid var(--grey-dark);
}

.seasonCard {
    margin-top: 6.5vh;
    display: flex;
    justify-content: center;
}

.gamePreviewCard {
    margin-left: 185px;
}

.iconButton {
    border: none;
    cursor: pointer;
}

.buttonLens {
    background: no-repeat url("ButtonIcons/Lens.svg");
    width: 23px;
    height: 23px;
}

.buttonLens:hover {
    background: no-repeat url("ButtonIcons/LensHover.svg");
}

.buttonLike {
    width: 36px;
    height: 36px;
    background: no-repeat url("ButtonIcons/Like.svg");
    margin-left: 5px;
}

.buttonLike:hover {
    background: no-repeat url("ButtonIcons/LikeHover.svg");
}

.buttonEllipsis {
    width: 38px;
    height: 10px;
    background: no-repeat url("ButtonIcons/Ellipsis.svg");
    margin-left: 30px;
}

.buttonEllipsis:hover {
    background: no-repeat url("ButtonIcons/EllipsisHover.svg");
}

.buttonGoLeft {
    background: no-repeat url("ButtonIcons/Left.svg");
    width: 58px;
    height: 45px;
    margin-right: 50px;
}

.buttonGoLeft:hover {
    background: no-repeat url("ButtonIcons/LeftHover.svg");
}

.buttonGoRight {
    background: no-repeat url("ButtonIcons/Right.svg");
    width: 58px;
    height: 45px;
    margin-left: 50px;
}

.buttonGoRight:hover {
    background: no-repeat url("ButtonIcons/RightHover.svg");
}