.topPanel {
    border-bottom: 2px solid var(--grey-dark);
    height: 85px;
}

.logoWrapper {
    max-width: 80%;
    display: flex;
    margin: auto;
    height: 100%;
    align-items: center;
}

.imageWrapper {
    display: flex;
}

.logoImage:hover {
    cursor: pointer;
}

.buttonWrapper {
    display: flex;
    margin: 0 0 0 auto;
}