.topPanel {
    border-bottom: 2px solid var(--grey-dark);
    height: 10vh;
}

.logoWrapper {
    max-width: 80%;
    display: flex;
    margin: auto;
    height: 100%;
    align-items: center;
}

.imageWrapper {
    display: flex;
}

.image {
    min-width: 23vw;
}

.buttonWrapper {
    display: flex;
    margin: 0 0 0 auto;
}