.topPanel {
    display: flex;
    /*justify-content: center;*/
    /*position: relative;*/
    border-bottom: 2px solid var(--grey-dark);
    max-width: 100%;
    height: 85px;
}

.imageWrapper {
    display: flex;
    align-items: center;
    text-align: center;
}

.topPanel__logoImage {
    cursor: pointer;
}

.topPanel__buttonWrapper {
    display: flex;
    align-items: center;
}