.card {
    min-width: 20vw;
    min-height: 50vh;
    background-color: var(--white);
    border: 5px solid var(--purple-default);
    border-radius: 30px;
}

.card:hover {
    transform: scale(1.05);
    transition: 1s;
}

.titleArea {
    font-size: 2em;
    padding-top: 3.5vh;
    display: flex;
    justify-content: center;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.image {
    min-width: 11vw;
}