@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --orange-default: rgba(255, 96, 61, 1);
    --orange-dark: rgba(213, 67, 47, 1);
    --orange-darker: rgba(173, 44, 44, 1);
    --purple-default: rgba(131, 99, 255, 1);
    --purple-dark: rgba(86, 54, 210, 1);
    --purple-darker: rgba(19, 0, 146, 1);
    --purple-80: rgba(131, 99, 255, 0.8);
    --white: rgba(255, 255, 255, 1);
    --grey-default: rgba(187, 193, 211, 1);
    --grey-dark: rgba(47, 51, 55, 1);
    --grey-60: rgba(187, 193, 211, 0.6);
    --wheat-default: rgba(254, 244, 238, 1);
}