.gamePreviewCard {
    min-width: 43vw;
    height: 47vh;
}

.gamePreviewCardTopWrapper {
    min-width: 100%;
    height: 400px;
    border: 2px solid var(--grey-dark);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
}

.gameTopInfoArea {
    min-width: 100%;
    height: 45px;
    border-bottom: 2px solid var(--grey-dark);
    display: flex;
    align-items: center;
}

.ellipsisImage {
    max-width: 38px;
    max-height: 10px;
}

.gameDescriptionArea {
    min-width: 100%;
    height: 250px;
    background-color: white;
    position: absolute;
    border-bottom: 2px solid var(--grey-dark);
    visibility: hidden;
}

.gamePreviewImage {
    min-width: 100%;
    height: 353px;
}

.gameBottomInfoArea {
    min-width: 100%;
    height: 60px;
    border: 2px solid var(--purple-default);
    border-top: none;
    display: flex;
    padding-top: 15px;
}

.textInfoWrapper {
    margin-left: 50px;
}

.likeAreaWrapper {
    margin-left: 450px;
    display: flex;
    align-self: center;
    margin-right: auto;
    min-width: 93px;
}

.countOfLikesWrapper {
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: left;
    min-width: 52px;
}